:root {
  --primary-color: #055a05; 
  --secondary-color: #f4a261;
  --accent2-color: #e9c46a; 
  --accent1-color: #264653; 
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
font-family: var(--body-font);
color: var(--accent1-color);
}

header, footer, main{
max-width: 840px;
margin: 0 auto;
padding: 0 0.5rem;
}
 header {
  display: flex;
  gap: 6rem;
 }

header img {
width: 20%;
display: flex;
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
gap: 6rem;
}


h1, h2 {
font-family: var(--heading-font);
color: var(--primary-color);
display: flex;
justify-content: center;
padding: 10px;
}

nav, p, section, article {
margin: 15px;
padding: 8px;
}

.socialmedia a {
text-decoration: none;
}

.hero {
position: relative;
}

.hero img {
display: block;
width: 100%;
height: auto;
}

.hero h1 {
position: absolute;
top: 20px;
width: 100%;
padding: 16px;
text-align: center;
opacity: 0.7;
background-color: var(--accent2-color);
color: #264653;
}

.hero article {

float: left;
position: absolute;
right: 20px;
bottom: 0.5px;
max-width: 93%;
background-color: var(--accent2-color);
padding: 2px;
border-radius: 8px;
}
.hero article img {
float: right;
width: 150px;
margin-left: 12px;
margin-bottom: 8px;
border-radius: 8px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.history {
max-width: 400px;
margin: 1rem;
padding: 1rem;
text-align: center;
width: 50%;
}

.history img {
justify-content: center;
}

.adventure-photos {
display: flex;
justify-content: space-between;
gap: 1rem;
}

.adventure-photos figure {
width: 50%;
display: flex;
justify-content: space-between;
}

.adventure-photos img {
width: 120%;
height: 20%;
border-radius: 6px;
}

.adventure-photos figcaption {
text-align: center;
}

footer img {
position: relative;
justify-content: space-between;
justify-content: flex-end;
width: 50px;
opacity: 0.8;
}

footer {
  display: flex;
  justify-self: center;
  align-items: center;
}