:root {
    --primary-color: #55a055
    --secondary-color: #f4a261
    --accent1-color: #1976d2
    --accent2-color: #e9c46a
    --heading-font: "Times New Roman", "Georgia". serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 15px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: rgba(48, 4, 4, 0.308);
    color: #fff
}

.hero article {
    
    float: left;
    position: absolute;
    right: 20px;
    bottom: 0.5px;
    max-width: 93%;
    background-color: darkgoldenrod;
    padding: 2px;
    border-radius: 8px;
}
.hero article img {
    float: right;
    width: 150px;
    margin-left: 12px;
    margin-bottom: 8px;
    border-radius: 8;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

footer img {
    justify-content: space-around;
    position: relative;
    width: 50px;
    opacity: 0.5;
}