* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    background-color: lightgray;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: start;
    color: navy;
    font-family: sans-serif;
    font-size: 1.5rem;
}
code {
    background-color: black;
    color: white;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.2rem;
}

form {
    max-width: 500px;
    background: white;
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: lightgray;
}


button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #005fa3;
}