* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0;
    font-family: initial;
}

body {
    font-size: 18px;
    font-family: initial;
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
    
}


nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}
h1{
    color: darkblue;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 15px;
}
aside {
    width: 19.2rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    height: auto;
    width: 200px;
    margin: 1rem;
}
aside h2 {
    position: absolute;
    top: 65px;
    left: 150px;
    font-size: 1rem;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0 1, 0, 0, 1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
    width: 330px;
    align-items: start;
    justify-items: flex-start;
}