* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0;
    font-family: initial;
}

body {
    font-size: 18px;
    font-family: initial;
}


nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: darkblue;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 10px;
}
aside {
    width: 17em;
    text-align: center;
    position: relative;;
    
}

aside img {
    height: auto;
    width: 200px;
    margin: 1rem;
}
aside h2 {
    position: absolute;
    top: 65px;
    left: 150px;
    font-size: 1rem;
}
/* class selector */
.box {
    margin: 1rem;
    border: 1px solid rgba(0 1, 0, 0, 1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}