header {
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 3rem sans-serif;
    font-family: initial;
    margin: 10px;

}

body {
width: 90%;
margin: auto;
}

main {
    border: 1px solid;
    width: 60%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

img {
width: 90%;
margin: auto;
box-shadow: 0 0 30px #666;
}

section {
    width: auto;
    background-color: #d4d4d4;
}